/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
:before,
:after {
	box-sizing: border-box;
}

html {
	font-size: 16px;
	font-family: sans-serif;
}

body {
	background-color: #f6f7fa;
	margin: 0;
	padding: 0;
}

:root {
	--colors-neutral-90: rgb(21, 30, 41);
	--text-primary-50: rgb(0 111 214);
	--form-label-text-color: rgb(83, 91, 102);
	--border-color: rgb(196 200 205);
	--font-weight-bold: 700;
	--font-weight-normal: 400;
	--font-size-h6: 1rem;
}

h3 {
	font-size: 1.875rem;
	font-weight: var(--font-weight-bold);
	color: var(--colors-neutral-90);
}

label {
	color: var(--form-label-text-color);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 4px;
	margin-top: 1.5rem;
}
label span {
	letter-spacing: 0.25px;
}

button {
	width: 50%;
	text-align: center;
	transition: background-color 75ms ease;
	display: inline-flex;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	gap: 0.125rem;
	border-radius: 4px;
	font-weight: 700;
	outline: 2px solid transparent;
	outline-offset: 2px;
}
button.text {
	border-style: none;
	background-color: transparent;
}
button.primary.text {
	color: var(--text-primary-50);
}
button.primary.text:hover {
	background-color: rgb(230 248 255);
}
button.primary.filled {
	background-color: var(--text-primary-50);
}
button.primary.filled:hover {
	background-color: rgb(0 86 179);
}
button.large {
	height: 3rem;
	padding: 0.75rem 1.5rem;
	font-size: var(--font-size-h6);
	font-weight: var(--font-weight-normal);
	letter-spacing: 0.25px;
	line-height: 24px;
}
button.filled {
	border-width: 0px;
	color: rgb(255 255 255);
}
input {
	height: 3rem;
	padding: 0.75rem;
	border-radius: 4px;
	font-size: 1rem;
	border: 1px solid var(--border-color);
	width: 100%;
}
